.flex-vertical {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 60px 0;
    width: 881px;
}

.flex {
    display: flex;
    width: 100%;

    justify-content: space-between;
}

.footer {
    
    .logos {
        display: flex;
        width: 100%;
        justify-content: space-between;
    
        align-items: center;
        margin-bottom: 60px;

        img {
            aspect-ratio: auto;
            height: 96px;
        }
    
        img:first-of-type {
            margin-right: 50px;
        }
    
        img:last-of-type {
            margin-left: 50px;
        }
    }

    .strong {
        font-size: 26px;
        font-weight: 400;
    }
    
    .block {
        text-align: justify;
        font-size: 20px;
        font-weight: 200;
    
        margin-bottom: 50px;
    }
}


h1 {
    font-size: 46px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-block: 0;
    padding-inline: 0;

    .list-title {
        text-align: center;
        font-size: 40px;
        font-weight: 200;
        margin-bottom: 22px;
    }

    .list-element {
        margin-bottom: 17px;
    }

    margin-bottom: 50px;
}