.try-it-out {
    padding: 20px;
    margin: 0px 20%;
    background-color: #FAFAFA;
    font-size: 36px;
    margin-bottom: 33px;
    .strong {
        font-size: 48px;
    }
}

.content-list {
    div {
        margin-bottom: 33px;
    }
}