.funktionen {
  max-width: 685px !important;
}

.funktionen-wide {
  max-width: 1143px !important;
}

ol li {
  margin-bottom: 15px;
}

.raten {
  color: black;
  font-size: 36px;
}

.formel {
  max-width: 685px !important;
}

.flex-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;

  .slider-wrapper {
    font-size: 30px;
    width: 500px;

    display: flex;
    justify-content: center;
    align-items: center;

    .strong {
      font-size: 36px;
      flex-shrink: 0;
      margin-right: 15px;
      margin-bottom: 4px;
    }
  }

  .prediction-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;

    font-size: 36px;
    color: black;

    align-items: flex-start;
    justify-content: space-evenly;

    .prediction-item {
      width: 250px;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      // justify-content: center;
      align-items: center;
    }
  }
}

svg {
  aspect-ratio: auto;
  max-height: 400;
}
