.tutorial-section {
    margin-bottom: 28px;

    #title {
        font-size: 30px;
        color: #AAA;
    }

    #text {
        font-size: 18px;
        color: #000;

        hyphens: auto;
        text-align: justify;

        margin-bottom: 14px;
    }
}