@import url('https://fonts.googleapis.com/css?family=Inter:100,200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Roboto');

body, html {
    height: 100%;
    margin: 0;

    font-family: 'Inter';
    font-weight: 400;
    color: #aaa;
}

#root, .App {
    height: 100%
}